mixin social(isHeader)
  .header-social
    if (isHeader)
      span Мы в социальных сетях
    a(href="#").header-social__item.fb
    a(href="#").header-social__item.vk
    a(href="#").header-social__item.you
    a(href="#").header-social__item.insta
