.footer-sub
  form(action="#").form.wrapper
    .form-flex
      .form-control
        label(for="sub-1").form-control__label Подпишитесь на новостную рассылку
        input(type="text", id="sub-1", placeholder="Ваш E-mail").form-control__input
      button.button Подписаться на новости
