footer.footer
  .footer-wrap
    .footer-left
      p.
        © 2017 Фонд «Центр координации поддержки экспортно-ориентированных субъектов малого
        и среднего предпринимательства Югры»
      p.gray.
        При использовании материалов, размещенных на портале, ссылка на источник обязательна
    .footer-middle
      +social(false)
      .footer-middle__delimiter
      a(href="#").mail
    .footer-right
      p <b>Адрес:</b> г. Ханты-Мансийск ул. Студенческая, д. 27, оф. 401
      a(href="#").uw
