header.header
  .header-wrapper
    button(type="button").mobile__button.js-mobile
      span
      span
      span
      span
    a(href="#").header__logo
    .header-desc Расширяя границы сотрудничества
    a(href="#").header__iso
    +social(true)
    include header-search
