-
  var menu = [
    {
      name: 'О центре'
    },
    {
      name: 'Услуги центра',
      sub: [
        'Все услуги',
        'Поиск иностранных партнеров',
        'Проведение маркетинговых исследований',
        'Оказание консультационных услуг по любым вопросам ',
        'ВЭД',
        'Адаптация компании к международному рынку и модернизации экспортного предложения',
        'Организация участия в международных выставках и бизнес-миссиях',
        'Участие в каталоге экспортно-ориентированных предприятий Югры',
        'Консультации',
        'Финансовая поддержка'
      ]
    },
    {
      name: 'Новости'
    },
    {
      name: 'Экспортеру'
    },
    {
      name: 'Экспорт в Югре'
    },
    {
      name: 'РИЦ'
    },
    {
      name: 'Наши проекты',
      sub: [
        'Пункт 1',
        'Пункт 2',
        'Пункт 3'
      ]
    },
    {
      name: 'Контакты'
    }
  ]

.left
  nav.menu
    ul
      each item in menu
        if (typeof item.sub !== 'undefined')
          li.parent
            span= item.name
            ul
              each subItem in item.sub
                li
                  a(href="#")= subItem
        else
          li
            a(href="#")= item.name
  nav.menu.sub
  .left-bottom
    .lang.js-lang RU
      ul
        li
          a(href="#") EN
        li
          a(href="#") DE
    a(href="#").phone 8 (3467) 388-400
