nav.pag
  a(href="#").pag__item Назад
  a(href="#").pag__item 1
  a(href="#").pag__item 2
  span.pag__item.active 3
  a(href="#").pag__item 4
  a(href="#").pag__item 5
  span.pag__item ...
  a(href="#").pag__item 99
  span.pag__item Вперед
