extends layout

block content

  main.main
    include includes/left
    .right
      +breadcrumbs('Главная', 'Проект «Сделано в Югре!»')
      .detail.wrapper
        h2.h2 Проект «Сделано в Югре!»

        h3.h3.
          Проект реализуется Фондом "Центр поддержки экспорта Югры" совместно с
          Фондом поддержки предпринимательства Югры при содействии Правительства
          Ханты-Мансийского автономного округа - Югры

        ol
          li.
            В сентябре 2012 года в рамках проведения
            <a href="http://slet-ugra.ru/history/slet-2012/#14" target="_blank">III Слёта молодых предпринимателей</a>
            организованного Фондом поддержки предпринимательства Югры, был проведён конкурс на лучший
            логотип «Сделано в Югре».
          li.
            Согласно <a href="http://www.export-ugra.ru/upload/medialibrary/214/2141bccb56686601f6cf025c7168e2ca.pdf"
            target="_blank">Положению</a> о проведении конкурса идеи, воплощенные в логотипе, должны были создавать
            благоприятный имидж производителей товаров малого и среднего бизнеса Югры, формировать положительное
            восприятие у жителей автономного округа, а также других регионов и стран. В состав конкурсной
            комиссии вошли представители Фонда поддержки предпринимательства Югры, Департамента экономического
            развития автономного округа и ведущие российские эксперты в области маркетинга и дизайна, в том числе
            Аветисян Самвел - управляющий партнер Маркетинговой Компании «АрхИдея», создатель брендов «Техношок»,
            «Пикадор», «Мечта хозяйки», «Дарья», «Царь-батюшка», «Тинькофф», «Текиза», Zooom.
          li.
            Решением конкурсной комиссии победителем была признана работа ООО
            <a href="http://garlee-group.ru/" target="_blank">«Гарли Групп»</a> Сургутской студии
            рекламы и дизайна. Согласно условиям конкурса авторские и имущественные права на присланные
            работы переходили к Фонду поддержки предпринимательства Югры.
          li
            p.
              Со второй половины 2013 года реализацией маркетингового проекта «Сделано в Югре!»
              занимается Фонд «Центр поддержки экспорта Югры» – правопреемник авторских и имущественных
              прав на логотип «Сделано в Югре!

            h4.h4.no-mar Цель проекта
            p.
              Целью проекта является популяризация производимой продукции и услуг местных
              товаропроизводителей, относящихся к субъектам малого и среднего предпринимательства
              в других регионах и странах под брендом «Сделано в Югре!» и признание данной торговой
              марки на внешних рынках.

            h4.h4.no-mar Миссия проекта
            p.
              17 декабря 2014 года, Федеральная Служба по Интеллектуальной Собственности (РосПатент)
              рассмотрела заявку Центра поддержки экспорта Югры на государственную регистрацию товарного
              знака «Сделано в Югре!» “Made in Ugra!” и приняла положительное решение о государственной
              регистрации &nbsp;данного товарного знака.
            .video
              iframe(width="560", height="315", src="http://www.youtube.com/embed/tHZ-jt2gZ7Y",
              frameborder="0", allowfullscreen)
          li.
            17 декабря 2014 года, Федеральная Служба по Интеллектуальной Собственности (РосПатент)
            рассмотрела заявку Центра поддержки экспорта Югры на государственную регистрацию товарного
            знака «Сделано в Югре!» “Made in Ugra!” и приняла положительное решение о государственной
            регистрации данного товарного знака.

        br
        h4.h4 Скачать логотип
        a(href="file.pdf").file Логотип "Сделано в ЮГРЕ"

        h4.h4 Файлы
        a(href="images/made-img.jpg", data-fancybox)
          img(src="images/made-img.jpg", width="200")
        br
        br
        br

        a(href="file.pdf").file Копия решения о государственной регистрации товарного знака
        a(href="file.pdf").file Решение Роспатента о принятии заявке на регистрацию товарного знака
        a(href="file.pdf").file Уведомление Роспатента о регистрации заявки


        include includes/partners
  footer.footer
    include includes/footer-sub
    include includes/footer-wrap
