extends layout

block content

  main.main
    include includes/left
    .right
      +breadcrumbs('Главная', 'Новости', 'Выставочно-ярмарочное мероприятие «InterFood Astana 2018» (Казахстан, г.Астана)')
      .detail.wrapper
        h2.h2 Выставочно-ярмарочное мероприятие «InterFood Astana 2018» (Казахстан, г.Астана)
        .news-detail.inner
          a(href="images/news-detail.jpg", data-fancybox)
            img(src="images/news-detail.jpg").news-detail__img
          p
          p(style="margin: 0cm 0cm 0.0001pt; background: white;").
            Оптические элементы станут частью лазерной установки и помогут белорусским
            ученым в научных экспериментах. Плоские отражающие дифракционные решетки
            в Республику Беларусь направил Холдинг «Швабе» Госкорпорации Ростех.
          p(style="margin: 0cm 0cm 0.0001pt; background: white;").
            Поставку дифракционной оптики в Беларусь осуществило предприятие Холдинга
            «Швабе» – Государственный институт прикладной оптики (ГИПО), расположенный в
            Казани. Специалисты института изготовили для заказчика плоские отражающие
            дифракционные решетки размером 250х110х35 мм. Оптические элементы будут
            установлены в лазерной установке в качестве компонента резонатора.
            В рамках проведения научных исследований эти изделия позволят ученым
            республики решить ряд фундаментальных задач в области физики.
        include includes/partners
  footer.footer
    include includes/footer-sub
    include includes/footer-wrap
