extends layout

block content

  -
    var news = [
      {
        name: 'Круглый стол «Сделано в Югре!» - визитная карточка предпринимателей Югры» 26 октября 2017 г., г. Нижневартовск',
        photo: 'media-1.jpg',
        date: '27 Октября 2017',
        desc: 'Фонд развития совместно с Департаментом промышленности автономного округа по поручению Губернатора Югры осуществляет разработку нового информационного ресурса.'
      },
      {
        name: 'Югорский рыбный фестиваль 2016',
        photo: 'media-2.jpg',
        date: '18 Марта 2016',
        desc: 'Достигнуты контрольные точки по проектам создания Сургутского окружного Центра охраны материнства и детства, строительства мостового перехода через р.Обь в Сургутском районе.'
      },
      {
        name: 'Выставка окружных товаропроизводителей «Товары земли Югорской 2015»',
        photo: 'media-3.jpg',
        date: '16 Декабря 2015',
        desc: 'В присутствии заместителя Губернатора Югры Алексея Забозлаева документ подписали исполняющий обязанности директора Департамента промышленности автономного округа Василий Дудниченко и генеральный директор ООО «Ресурсосбережение ХМАО» Дмитрий Утевский.'
      },
      {
        name: 'Деловая миссия в Индию 18-22 ноября 2015 года',
        photo: 'media-4.jpg',
        date: '15 Декабря 2015',
        desc: 'Избран председатель Экспертного совета, рассмотрен перечень потенциальных заявок, претендующих на получение льготных займов Фонда развития.'
      },
      {
        name: 'Семинар по тематике ВЭД г. Нижневартовск',
        photo: 'media-5.jpg',
        date: '19 Декабря 2015',
        desc: 'В реализации проекта примут участие Национальный исследовательский центр «Курчатовский институт», ООО «Газпром трансгаз Югорск», администрация г.Югорска, Фонд развития Югры.'
      },
      {
        name: '[Заглушка] Семинар по тематике ВЭД г. Нягань',
        photo: 'no-photo.jpg',
        date: '17 Ноября 2015',
        desc: 'В присутствии заместителя Губернатора Югры Алексея Забозлаева документ подписали исполняющий обязанности директора Департамента промышленности автономного округа Василий Дудниченко и генеральный директор ООО «Ресурсосбережение ХМАО» Дмитрий Утевский.'
      }
    ]

  main.main
    include includes/left
    .right
      +breadcrumbs('Главная', 'Новости')
      .detail.wrapper
        h2.h2 Новости
        .news-detail
          each item in news
            a(href="#").news-detail__item
              .news-detail__item-left(style='background-image: url(images/' + item.photo + ')')
              .news-detail__item-right
                .news-detail__item-date= item.date
                h4.h4= item.name
                p= item.desc
          br
          .center
            include includes/pag
        include includes/partners
  footer.footer
    include includes/footer-sub
    include includes/footer-wrap
